<div class="sidebar">
  <img src="../../../assets/logo.jpg" class="logo">
  <nav>
    <ul>
      <li [routerLink]="['/watches']" [routerLinkActive]="'active'" >Watches</li>
      <li [routerLink]="['/new-watch']" [routerLinkActive]="'active'">Add watch</li>
      <li (click)="logOut()">Logout</li>
    </ul>
  </nav>
  <div class="footer">
    <a class="author" href='https://pl.freepik.com/wektory/tlo' target="_blank">Tło plik wektorowy utworzone przez starline - pl.freepik.com</a>
  </div>
</div>
